name: Update Schedule Image

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch: 

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          pip install playwright PyGithub
          playwright install-deps chromium
          playwright install chromium

      - name: Run capture script
        env:
          # 這裡將 Secret 傳遞給 Python 腳本
          GITHUB_TOKEN: ${{ secrets.MY_GITHUB_TOKEN }}
        run: python auto_update.py
